.board{
    border:1px solid rgb(136, 135, 135);
}

.container {
    transition: margin-left .5s;
}

.action-btns {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
}

.action-btn {
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 2px;
}