:host {
    --box-shadow : #696969;
    --success : #50C878;
    --error: #dc3545;
}

.marker {
    cursor: none;
    position: absolute;
    height: 35px;
    width: 35px;
    color: black;
    z-index: -1;
}

.eraser {
    cursor: none;
    position: absolute;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
}

.board {
    cursor: none;
    border:1px solid rgb(136, 135, 135);
    position: absolute;
    top : 0px;
    left: 0px;
    z-index: 1;
    transition: margin-left .5s;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 4; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    border: 1px solid black;
}

.sidebar::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

.sidebar::-webkit-scrollbar:hover {
    cursor: pointer;
}

.sidebar::-webkit-scrollbar-track {
    background: #D3D3D3;        /* color of the tracking area */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #A9A9A9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #D3D3D3;  /* creates padding around scroll thumb */
}

.sidebar .heading {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 30px;
}

/* The button used to open the sidebar */
.togglebtn {
    margin-top: 7px;
}

.openbtn:hover {
    background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    transition: margin-left .5s;
    display: flex;
    flex-direction: row;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
  
/*list view*/
.column {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px;
}

.row {
    content: "";
    display: table;
    clear: both;
}
  
.action-btns {
    position: absolute;
    right: 15px;
    top: 7px;
    display: flex;
}

.action-btn {    
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-left: 19px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 11px 2px var(--box-shadow);
    z-index: 3;
}

/* toast */
.toast-container {
    position: absolute;
    width: 300px;
    height: 40px;
    top: -50px;
    right: 0px;
    left: 0px;
    margin: auto;
    transition: top .5s;
}

.toast {
    background-color: var(--success);
    color: white;
    padding: 10px;
    display: flex;
    font-size: 1.2vw;
    flex-flow: row;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 0px 11px 2px #696969;
}

.response-svg {
    margin: auto;
}

span {
    margin-left: 10px;
}

/* different pens */
.pen-container {
    position: absolute;
    height: 25px;
    left: 10px; 
    bottom: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    z-index: 3;
}

.pen {
    height: 15px;
    width: 15px;
    align-self: center;
    border-radius: 15px;
    cursor: pointer;
    transition: width 0.2s, height 0.2s;
    z-index: 3;
}

.red {
    background-color: #ff0000;
}
.blue {
    background-color: #0000ff;
}
.yellow {
    background-color: #ffff00;
}
.green {
    background-color: #00FF00;
}
.black {
    background-color: black;
}

.active {
    box-shadow: 0px 0px 4px 0px #696969;
}