.pageStatus{
    margin-left: 100px;
    font-family: "Segoe UI", Arial, sans-serif;
    transition: margin-left .5s;
}

.board {
    position: absolute;
    top : 0px;
    z-index: 2;
    transition: margin-left .5s;
}

.sidebar {
    z-index: 1;
}